@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  overflow-x:hidden;
  overflow-y:hidden;
}

body{
background-color:rgb(48, 46, 46);
background-image: "" ;
background-size:cover;
background-position: center;
background-repeat: no-repeat;

}
.app{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.card{

  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height:100vh;
  width:100wh;

}


.card button {
  height:30px;
  width:30px;
  visibility: hidden;
  position: absolute;
  top:30%;
}
h1{
  position: absolute;
  top:0%;
color:"";
font-size:70px;
font-family: '';
}
h2{
  position: absolute;
  top:15%;
  color:white;
  font-size:50px;
  visibility: hidden;
}
h3{
  position: absolute;
  top:15%;
  color:white;
  margin-top:20px;
  margin-bottom: 20px;
  font-size:30px;
  font-family: '';
  visibility: visible;
}
#star1,#start3{
  position: absolute;
  animation:move-eye-skew 1s ease infinite;;
  top:5%;
  visibility:visible;
}
#star2,#smalstar2,#smalstar4{
  animation:move-eye-skew 0.5s ease infinite;
  visibility:visible;
}
#smalstar1,#smalstar3{
  animation:move-eye-skew 0.8s ease infinite;
  visibility:visible;
}
#Vector_43 {
  fill: rgb(167, 206, 228);
}


/*svg path #conf1{
  
  visibility: visible;
}*/

#ball-container{
  height:500px;
  margin-top:70px;
}
@media screen and (max-width:700px){
  
  html{
    overflow-y:hidden;
  }
  #ball-container{
    padding:50px;
  }

  h1{
    margin:20px;
    font-size:30px;
   
  }
  
  h3{
  font-size:20px;
  }
  body{
    background-position: cover;
  }
  
}
.hide{
  visibility: hidden;
}


image {
  opacity:1;
  background-size:100px;
  border-radius: 50%;
}
#Vector_43 {
  fill: rgb(167, 206, 228);
}
#imageball {
 
  background-size: cover;
  background-repeat: no-repeat;
  visibility: hidden;
}
#innerball, #outerball{
  visibility: visible;
  
}
#innerball{
  fill:rgb(167, 206, 228); ;
}

@keyframes move-eye-skew {
  0% {
   
    opacity:0.8;
  }
  50% {
    
    opacity:1;
  }
   100% {
    
    opacity:0.2;

  }
}

